.LandingPage_Container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (max-width: 480px) {
  .LandingPage_Container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
}
