.PaymentMethods_Container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
}

.PaymentMethods_Container h5 {
  color: var(--text-footer-color);
  font-family: var(--font-open-sans);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.36;
  text-align: left;
}

.PaymentMethods_Container span {
  color: var(--text-footer-color);
  font-family: var(--font-open-sans);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.36;
  text-align: left;
}

.PaymentMethods_SubContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.PaymentMethods_ItemContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  gap: 0.5rem;
  margin: 0.25rem 0 1rem;
}

.Logos_Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .PaymentMethods_Container {
    order: 2;
    flex: 1 1 100%;
  }
  .PaymentMethods_SubContainer {
    flex-direction: row;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 1rem;
  }
  .PaymentMethods_ItemContainer {
    flex: 1;
  }
}

@media screen and (max-width: 480px) {
  .PaymentMethods_SubContainer {
    flex-direction: column;
  }
}
