:root {
  /*FONTS*/
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  /*COLORS*/
  --bg-color: #fff;
  --main-color: #121212;
  --secondary-color: #242424;

  --text-main-color: #3b454f;
  --text-second-color: #83af38;
  --text-third-color: #fff;
  --text-footer-color: #435162;

  --button-color: #33794a;
}

body {
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-family: var(--font-poppins);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  color: #3b454f;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
